@import url(https://fonts.googleapis.com/css?family=Arimo:400,400italic,700,700italic);
@import url(https://fonts.googleapis.com/css?family=Candal);

body {
	background: #958b59 url("../images/bkg-pat.jpg") top left repeat;
	font-size: 1.25em;
	margin: 0;
    padding: 0;  
	font-family: verdana, arial,saerif;
}

a {
	color: #003e00;
	font-family: 'Arimo', sans-serif;
	font-weight: 400;
}

a:hover {
	color: #414e13;
}

.backframe {
	background-color: #a2a989;
	margin: 0 auto !important;
	margin-bottom: 30px !important;
	width: 90%;
	height: 80% !important;
	border-radius: 20px;
	padding: 20px;
	top: 50px;
	position: relative !important;
	-webkit-box-shadow: 0px 0px 13px 2px rgba(0,0,0,0.23);
	-moz-box-shadow: 0px 0px 13px 2px rgba(0,0,0,0.23);
	box-shadow: 0px 0px 13px 2px rgba(0,0,0,0.23);
	overflow: hidden;
}

.body-content {
	margin: 0 1% 1% 1%;
	background-color: #ebe8dd !important;
	border-radius: 8px !important;
	padding: 2%;
	height: 100%;
	min-height: 700px;
}

h1 {
	font-size: 1.8em;
	text-align: center;
	color: #d2801f;
}

/* center caurosel: http://stackoverflow.com/a/10258308/178550; */
.carousel-inner { 
	text-align: center; 
}

.carousel .item > img { 
	display: inline-block; 
}

.cgv-ttl {
	font-size: 1.3em;
}

h3 {
	color: #fff;
	font-size: 2.5em;
}

h4 {
	color: #d2801f;
	font-family: 'Arimo', sans-serif;
	font-weight: 500;
	font-size: 1.8em;
	border-left: 1px solid #9ab859;
	border-bottom: 1px solid #9ab859;
	line-height: 2em;
	padding-left: 5px;
}

h5 {
	color: #958b59;
	font-family: 'Arimo', sans-serif;
	font-weight: 500;
	font-size: 1.5em;
	line-height: 2em;
	padding-left: 5px;
}

h6 {
	color: #ebe8dd;
	font-family: 'Arimo', sans-serif;
	font-weight: 500;
	font-size: 1.5em;
	line-height: 2em;
	padding-left: 35px;
}

.subtext {
	font-size: 1.3em;
	font-weight: 400;
	color: #958b59;
	font-family: 'Arimo', sans-serif;
}

/*adjust branding*/
	.brand {
		width: 145px;
		margin: -77px 0 0 43px;
	}


nav {
	margin: 30px 0 0 0 !important;
}

.nav a { 
	background: #848d64 !important; 
	color: #252525 !important;
	font-family: 'Arimo', sans-serif;
	font-weight: 400;
	border-top-left-radius: 10px !important;
	border-top-right-radius: 10px !important;
	padding: 15px 13px 15px 13px !important;
	margin-bottom: 0px !important;
}

.nav .dropdown-menu a {
	border-top-left-radius: 0 !important;
	border-top-right-radius: 0 !important;
	margin: 0 -1px 1px -1px !important;
	
}

.dropdown-menu > li > a {
  line-height: 0 !important;
  padding: 15px 20px !important;
}

.dropdown-menu > li:last-of-type > a {
	border-bottom-left-radius: 10px !important;
	border-bottom-right-radius: 10px !important;
	border-bottom: none !important;
}

.dropdown-menu {
	background-clip: none;
	background-color: transparent !important;
	border: none;
	box-shadow: none;
	padding: 0 !important;
}

.nav .active a { 
	background:#414e13 !important; 
	color: #fff !important;
} 

.nav a:hover { 
	background:#414e13  !important; 
	color: #fff !important;
} 

.nav li { 
	background:none !important; 
	margin: 0 1.5px 0 0 !important;
} 

.navbar {
	margin-top: 0;
}

/* ------------- */
/* 
Display Dropdown on hover. Influenced by (1)http://codepen.io/Gothburz/pen/GpJKqP and 
(2) http://stackoverflow.com/questions/8878033/how-to-make-twitter-bootstrap-menu-dropdown-on-hover-rather-than-click
*/
nav ul li:hover > ul {
		display: block;
}


nav ul ul {
	position: absolute; 
}
/* ------------- */

.menuOptions {
	padding-right: 5% !important;
	background-color: transparent !important; 
	border: 0px !important;
}

.appContainer {
	width: 90%;
}

.centering {
	 margin-left: auto;
    margin-right: auto;
    width: 25em;
}

bold {
    font-weight: bold;
}

#myCarousel {
	height: 500px;
	margin: 0 auto !important;
	text-align: center !important;
}

.carousel-inner {
	height: 100%;
	text-align: center !important;
	margin: 0 auto !important;
}

.carousel-inner img {
	text-align: center !important;
	margin: 0 auto !important;
}

.carousel .item .slide img{
    margin: 0 auto !important; /* Align slide image horizontally center */
   vertical-align: middle !important;
   text-align: center !important;
}

.header-text { 
	margin-top: 10px;
}

.leftside {
	width: 45%;
	float: left;
	margin-top: 20px;
}

.leftside img {
	border: 1px solid #9ab859;
    padding: 7px;
    margin: 10px;
}

.rightside {
	width: 50%;
	float: right;
	margin-top: 20px;
	border: 1px solid #9ab859;
    padding: 7px;
    margin: 10px;
}

.clearfix {
	clear: left;	
}

/*.rightside img {
	border: 2px solid transparent;
    padding: 5px;
    -webkit-border-image: url("../images/vine400.jpg") 30 round; /* Safari 3.1-5 
    -o-border-image: url("../images/vine400.jpg") 30 round; /* Opera 11-12.1 
    border-image: url("../images/vine400.jpg") 30 round;
    border-radius: 10px;
}
*/
.statementContainer {
	width: 55em;
	margin: 0 auto;
	margin-top: 10px;
}

.missionStatement {
	background-color: #d2801f;
}

.donateStatement {
	background-color: #958b59;
}

.programStatement {
	background-color: #7c415d;
}

.displayInline {
	display: inline;
}

.statementContainer {
	width: 100%;
}

.stbox {
	width: 33%;
	min-height: 15em;
	padding: 0 10px 10px 10px;
	display: inline-block;
	overflow: overlay;
	word-wrap: break-word;
	margin: 1px;
}

.sponsor-group {
   position: relative;
   float: left;
   left: 3%;
   width: 65%;
   margin-bottom: 10px;
}
.left1{
   position: relative;
   float: left;
   width: 28%;
   height: 33.33%;
}
.left2{
   position: relative;
   float: left;
   width: 28%;
   height: 33.33%;
}
.left3{
   position: relative;
   float: left;
   width: 28%;
   height: 33.33%;
}

.copyright {
	text-align: center;
	position: relative;
	margin-top: 60px;
}

.social {
	text-align: center;
	position: relative;
	margin-top: 10px;
}

.facebook {
	float: right;
	position: relative;
	top: -155px;
	margin: 0 20px 0 30px;
	height: 100%;
}

.facebook iframe {
	border-style: none !important;
	width: 400px; !important;
	height: 500px; !important;
}

.carousel-control.left {
  background-image: linear-gradient(to right, rgba(149, 139, 89, 0.5) 0px, rgba(0, 0, 0, 0) 100%) !important;
}

.carousel-control.right {
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0) 0px, rgba(149, 139, 89, 0.5) 100%) !important;
}

.messageAndEvents {
	
}

/* contact */
.google-recapcha-iframe {
	border-style: none;
}


.messageSent {
	color: green;
}

.messageNotSent {
	color: red;
}

.g-recaptcha {
    transform:scale(0.77);
    transform-origin:0 0;
}

/*
(1)Hack from https://coderwall.com/p/wpjw4w/change-the-bootstrap-navbar-breakpoint and http://www.bootply.com/120604#
to always show the hamburger menu (pattie burger) menu as collapsed sooner than default

(2)This essential is the "mobile"-responsive design
*/
@media (max-width: 970px) { 
    .navbar-header {
        float: none;
    }
    .navbar-left,.navbar-right {
        float: none !important;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-fixed-top {
		top: 0;
		border-width: 0 0 1px;
	}
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
		margin-top: 7.5px;
	}
	.navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .collapse.in{
  		display:block !important;
	}

	.nav a { 
		border-top-left-radius: 0 !important;
		border-top-right-radius: 0 !important;
	}
}