@import url(https://fonts.googleapis.com/css?family=Arimo:400,400italic,700,700italic);
@import url(https://fonts.googleapis.com/css?family=Candal);

body {
	background: #fff top left repeat;
	font-size: 1.25em;
	margin: 0;
    padding: 0;  
	font-family: verdana, arial,saerif;
}

.backframe {
	background-color: #EFEEEF;
	margin: 0 auto !important;
	margin-bottom: 30px !important;
	width: 90%;
	height: 80% !important;
	border-radius: 20px;
	padding: 20px;
	top: 50px;
	position: relative !important;
	-webkit-box-shadow: 0px 0px 13px 2px rgba(0,0,0,0.23);
	-moz-box-shadow: 0px 0px 13px 2px rgba(0,0,0,0.23);
	box-shadow: 0px 0px 13px 2px rgba(0,0,0,0.23);
	overflow: hidden;
}

.body-content {
	margin: 0 1% 1% 1%;
	background-color: #FFFFFF !important;
	border-radius: 8px !important;
	padding: 2%;
}

h1 {
	font-size: 1.5em;
	text-align: center;
}

.cgv-ttl {
	font-size: 1.3em;
}

h3 {
	color: #E4FFE0;
	font-size: 2.5em;
}

/*adjust branding*/
	.brand {
		margin-left: 30px !important;
		margin-top: -51px;
		height: 88px;
		width: 150px;
	}


nav {
	margin: 0 !important;
}

.nav a { 
	background:#DCDCDC  !important; 
	color: #E4FFE0 !important;
	font-family: 'Arimo', sans-serif;
	font-weight: normal;
	border-top-left-radius: 10px !important;
	border-top-right-radius: 10px !important;
	padding: 15px 13px 15px 13px !important;
	margin-bottom: 0px !important;
}

.nav .dropdown-menu a {
	border-top-left-radius: 0 !important;
	border-top-right-radius: 0 !important;
	margin: 0 -5px 1px -1px !important;
}

.nav .active a { 
	background:#79726C !important; 
} 

.nav a:hover { 
	background:#8a826C !important; 
} 

.nav li { 
	background:none !important; 
	margin: 0 1.5px 0 0 !important;
} 

.navbar {
	margin-top: 0;
}

/* ------------- */
/* 
Display Dropdown on hover. Influenced by (1)http://codepen.io/Gothburz/pen/GpJKqP and 
(2) http://stackoverflow.com/questions/8878033/how-to-make-twitter-bootstrap-menu-dropdown-on-hover-rather-than-click
*/
nav ul li:hover > ul {
		display: block;
}


nav ul ul {
	position: absolute; 
}
/* ------------- */

.menuOptions {
	padding-right:5%;
	background-color: #1adb00; 
	border-radius: 15px;
	background-color: transparent !important; 
	border: 0px !important;
}

.menuOptions a {
	font-weight: 900;
	/* font-size: 1.2em; */ 
	color: Black !important;
}

.appContainer {
	width: 90%;
}

.centering {
	 margin-left: auto;
    margin-right: auto;
    width: 25em;
}

bold {
    font-weight: bold;
}

.carousel{
  /*  background: #2f4357; */
    margin-top: 20px;
    margin-bottom: 20px;
}
.carousel .item img{
    margin: 0 auto; /* Align slide image horizontally center */
}

.header-text { 
	margin-top: 10px;
}

.statementContainer {
	width: 55em;
	margin: 0 auto;
}

.missionStatement {
	background-color: #CE9500;
}

.donateStatement {
	background-color: #84B744;
}

.programStatement {
	background-color: #639FAA;
}

.displayInline {
	display: inline;
}

.statementContainer {
	width: 100%;
}

.stbox {
		width: 33%;
	height: 60%;
	min-height: 15em;
	border-style: solid;
	border-width: 1px;
	padding: 10px;
	display: inline-block;
	overflow: overlay;
	word-wrap: break-word;
}

/*
(1)Hack from https://coderwall.com/p/wpjw4w/change-the-bootstrap-navbar-breakpoint and http://www.bootply.com/120604#
to always show the hamburger menu (pattie burger) menu as collapsed sooner than default

(2)This essential is the "mobile"-responsive design
*/
@media (max-width: 1055px) { 
    .navbar-header {
        float: none;
    }
    .navbar-left,.navbar-right {
        float: none !important;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-fixed-top {
		top: 0;
		border-width: 0 0 1px;
	}
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
		margin-top: 7.5px;
	}
	.navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .collapse.in{
  		display:block !important;
	}

	.nav a { 
		border-top-left-radius: 0 !important;
		border-top-right-radius: 0 !important;
	}
}